:root{
    font-size: 62,5%
} 
body {
    background-color: #242425;  
    font-family: 'Nova Square', sans-serif;
    position: relative;
}

header {
    height: 9rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo__content {
    margin: auto 5rem;
    margin-left: 2rem;
}
.logo__image {
    height: 8rem;
}
    
.header__navigation {
    display: flex;
    gap: 3rem;
}
.links {
    color: #B89B5C;
    width: 100%;
    font-size: 1rem;
}
.links:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
    opacity: .8;
}
.detalhe__header{
    background-color: #B89B5C;
    width: 10rem;
    height: .2rem;
    position: absolute;
    top: 8rem;
}
