:root{
    font-size: 62,5%
} 
body {
    background-color: #242425;  
    font-family: 'Nova Square', sans-serif;
    position: relative;
}

header {
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 1;
}

.logo__content {
    height: 8rem;
    margin: auto 5rem;
}
.logo__image {
    max-height: 8rem;
}
.header__navigation {
    display: flex;
    gap: 2rem;
}
.links {
    color: #B89B5C;
}


